/*propiedades generales*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #fff;
}

/*propiedades de la cabecera*/
header {
    background-color: #558976;
    width: 100%;
}

/*Fin propiedades de la cabecera*/

/*Propiedades del logo*/
img.logo {
    height: 130px;
    width: 160px;
    position: absolute;
    top: 28px;
    left: 6%;
}

/*Fin Propiedades del logo*/

/*Propiedades icono acceso web*/
a#iconoAcceso {
    float: right;
    margin: 10px 6%;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.fa-solid.fa-user{
    font-weight: 100 !important;
}
.textoAcceso{
    color: white;
    font-size: 15px;
    font-family: new times roman;
}
/*Fin Propiedades icono acceso web*/

/*propiedad select idioma*/
#idioma{
    float: right;
    margin: 50px -4%;
    line-height: 100px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: #558976;
    border: none;
    border-radius: 9px;
}
/*fin propiedad select idioma*/
  
/*propiedades del nav - menú*/
/*menu*/
.navegacion {
    width: 100%;
    padding-top: 124px;
    padding-left: 375px;
    background-color: #558976;
    font-size: 16px;
    text-transform: uppercase;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 45px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #b4baa4;
}

/*fin menu*/
/*submenu*/
.submenu {
    position: absolute;
    width: 120%;
    display: none;
    background-color: #558976;
    z-index: 2;
}

.submenu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

.menu li:hover .submenu {
    display: block;
}

/*fin submenu*/

/*configurar menu responsive*/
.checkbtn {
    font-size: 45px;
    color: #fff;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*fin configurar menu responsive*/
/*movil*/
@media (max-width:1430px) {
    .checkbtn {
        display: block;
        margin-top: -80px;
        margin-right: 25%;
    }

    nav ul {
        position: fixed;
        width: 100%;
        background: #558976;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
        z-index: 2;
    }

    .navegacion {
        padding-top: 172px;        
        min-width: 439px
    }

    .menu>li {
        display: block;
    }

    .menu li a {
        text-align: left;
        margin-left: 40%;
    }

    header nav ul li .submenu {
        position: relative;
    }

    .submenu {
        left: 0;
    }

    .submenu li a {
        text-align: left;
        margin-left: 40%;
    }
}

/*fin propiedades del nav - menú*/

/*Propiedades del slider*/
.position {
    position: relative;
    margin-top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 100%;
}

.slider {
    background-image: url(../Imagenes/Principal/Slider/margarita-2.png);
    background-size: cover;
    animation: animate 30s infinite;
}

@keyframes animate {
    20% {
        background-image: url(../Imagenes/Principal/Slider/macetas.png);
        background-size: cover;
    }

    40% {
        background-image: url(../Imagenes/Principal/Slider/panta_verde.png);
        background-size: cover; 
    }

    60% {
        background-image: url(../Imagenes/Principal/Slider/cactus.png);
        background-size: cover;
    }
}

/*Fin Propiedades del slider*/

/*Propiedades Frase*/
section.seccionFrase {
    height: 300px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    font-style: italic;
    color: #558976;
}

#positionFrase {
    position: relative;
    margin-top: -135px;
    font-size: 50px;
    font-weight: bold;
}

#autor {
    font-size: 20px;
    margin-top: 10px;
}

.quoteGrande {
    font-size: 100px;
}

/*Propiedades 3 cuadrados página principal con tabla y listas*/
.tftable {
    color: #111;
    width: 90%;
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: separate;
    border-spacing: 10px;
}

.tftable td {
    width: 30%;
}

.tftable tr#subirLinea {
    margin-top: -20px;
}

.tftable td p {
    font-size: 15px;
}

.tamanyoColumna {
    height: 300px;
}

.tamanyoColumnaTitulo {
    height: 60px;
}

.tamanyoColumnaTexto {
    height: 100px;
    text-align: justify;
    padding: 20px;
}

.imagen {
    background-position: center;
    background-size: cover;
}

#imagenUno {
    background-image: url(../Imagenes/Principal/comprar-plantas-interior-consejos.jpg);
}

#imagenDos {
    background-image: url(../Imagenes/Principal/plantas-de-interior.jpg);
}

#imagenTres {
    background-image: url(../Imagenes/Principal/consejos.jpeg);
}

.textoTituloPlanta {
    text-align: center;
    color: #558976;

}

summary {
    font-weight: bold;
    color: #558976
}

details {
    cursor: pointer;
}

details ol {
    list-style-type: disc;
    padding-left: 40px;
    padding-top: 10px;
}

details li {
    padding-top: 10px;
}

details p {
    padding-left: 40px;
    padding-top: 20px;
}

details iframe {
    width: 100%;
    padding-left: 40px;
}

/*Fin Propiedades 3 cuadrados página principal con tabla*/

/*Frase dos*/
section.seccionFrase2 {
    text-align: center;
    font-style: italic;
    color: #558976;
    height: 310px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    background-color: #dff5ed;
    font-size: 22px;
    opacity: .6;
}

p.alinear {
    margin-left: 20%;
    margin-right: 20%;
    line-height: 38px;
}

#iconoMano {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    opacity: .1;
}

#imagenCuatro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/Principal/PlantaElefante.jpg);
}

#imagenCinco {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/Principal/plantas-medicinales-tropicales-flores.jpg);
}

#imagenSeis {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/Principal/cactus-crasas-y-suculentas-en-tenerife.jpg);
}

/*Fin Frase dos*/

/*Tabla 2*/
.tamanyoColumna2 {
    height: 500px;
}

td.tamanyoColumna2 {
    width: 30%;
    padding: 2%;
}

table.tftable2 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: separate;
    border-spacing: 20px;
    margin-bottom: 200px;
}

button {
    display: inline-block;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: #dff5ed;
    color: #558976;
    border: none;
    border-radius: 9px;
    box-shadow: 0 3px #999;
}

button:hover {
    color: #dff5ed;
    background-color: #558976;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    color: #dff5ed;
    background-color: #558976;
}

/*Fin tabla 2*/

/*movil*/
@media (max-width:1600px) {
    section.seccionFrase2 {
        font-size: 19px !important;
    }

    p.alinear {
        margin-left: 15% !important;
        margin-right: 15% !important;
        line-height: 25px !important;
    }
}

@media (max-width:1000px) {
    .frase {
        font-size: 30px !important;
    }

    .autorPequenyo {
        font-size: 15px !important;
    }

    .quotePequenya {
        font-size: 65px !important;
    }
}

@media (max-width:810px) {
    .frase {
        font-size: 25px !important;
    }

    .autorPequenyo {
        font-size: 10px !important;
    }

    .quotePequenya {
        font-size: 50px !important;
    }

    section.seccionFrase2 {
        font-size: 16px !important;
    }

    p.alinear {
        margin-left: 15% !important;
        margin-right: 15% !important;
        line-height: 18px !important;
    }

    #iconoMano {
        width: 80px !important;
        height: 80px !important;
    }
}













/*Galeria*/
#galeria {
    background: #dff5ed;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 22px;
    color: #558976;
}

/*Galeria fotos*/
.galeriaFotos {
    margin: auto;
    list-style: none;
    padding: 20px;
    justify-content: space-around;
}

/*estilo modal foto*/
.modal {
    display: none;
}

.modal:target {
    position: fixed;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3 {
    color: #9dab39;
    font-size: 30px;
    text-align: center;
    margin: 30px 0;
}

.fotoModal {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoModal a {
    color: #9dab39;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}


/*segunda etiqueta a dentro de foto modal*/
.fotoModal a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.fotoModal img {
    width: 500px;
    height: 100%;
    max-width: 100%;    
    border: 5px inset #9dab39;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #9dab39;
    width: 28px;
    height: 28px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 2px;
    border-radius: 50%;
    line-height: 25px;
}

/*Fin propiedades galeria fotos*/










/*Galeria fotos*/
.galeriaVideos {
    margin: auto;
    list-style: none;
    padding: 20px;
    justify-content: space-around;
}

/*estilo modal foto*/
.modal {
    display: none;
}

.videoModal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoModal a {
    color: #9dab39;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}


/*segunda etiqueta a dentro de foto modal*/
.videoModal a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.videoModal video {
    width: 500px;
    height: 100%;
    max-width: 100%;    
    border: 5px inset #9dab39;    
    box-sizing: border-box;
}

.videoCerrar {
    display: block;
    background: #9dab39;
    width: 28px;
    height: 28px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 2px;
    border-radius: 50%;
}

/*Fin propiedades galeria fotos*/









/*Pie*/
footer {
    background-color: #558976;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 50px;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 15px 10px 15px 10px
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .top .copy-details {
    color: #fff;
    font-size: 16px;

}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

/*propiedades de sigueme del pie de página*/
#siguenos {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 15px;
    margin-right: 115px;
}

/*propiedades de la ubicación del pie de página*/
#ubicacion {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 15px;
    margin-right: -60px;
}

#iconoUbicacion {
    margin: 0 8px;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    transition: all 0.4s ease;
}

/*instagram*/
.top .media-icons a:nth-child(1) {
    background: #E1306C;
}

.top .media-icons a:nth-child(1):hover {
    color: #E1306C;
    background: #fff;
}

/*twitter*/
.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

/*facebook*/
.top .media-icons a:nth-child(3) {
    background: #426782;
}

.top .media-icons a:nth-child(3):hover {
    color: #426782;
    background: #fff;
}

/*youtube*/
.top .media-icons a:nth-child(4) {
    background: #FF0000;
}

.top .media-icons a:nth-child(4):hover {
    color: #FF0000;
    background: #fff;
}

/*Fin pie*/


/*Breadcrumb*/
ul.breadcrumb {
    position: relative;
    padding: 10px 16px;
    list-style: none;
    margin-top: 50px;
    background-color: #e6e7e1;
    margin-left: 15%;
    margin-right: 15%;
}

/* Mostrar elementos de la lista uno al lado del otro */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Agregue un símbolo de barra inclinada (/) antes/detrás de cada elemento de la lista */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #2c473d;
    content: "/\00a0";
}

/* Agregue un color a todos los enlaces dentro de la lista */
ul.breadcrumb li a {
    color: #2c473d;
    font-weight: bold;
    text-decoration: none;
}

/* Agregar un color al pasar el mouse */
ul.breadcrumb li a:hover {
    color: #01447e;
    font-weight: bold;
    text-decoration: underline;
}

/*Fin breadcrumb*/


/*Información*/

/*Propiedades tabla y listas*/
.tftableInfor {
    color: #111;
    width: 70%;
    border-collapse: collapse;
    margin-left: 15%;
    margin-right: 15%;
    border-collapse: separate;
    border-spacing: 10px;
    text-align: justify;
    margin-top: 2%;
}

.tftableInfor td#informacionNosotros {
    width: 70%;
    font-size: 22px;
    line-height: 40px;
    vertical-align: top;
}

.tftableInfor tr#subirLinea {
    margin-top: -20px;
}

/*Fotos informacion nosotros*/
.datosPersonalesNombre {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.fotoPersonal {
    height: auto;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

/*Titulo informacion*/
.tituloInformacion {
    text-align: center;
    color: #111;
    font-size: xxx-large;
}

#seccionInformacion {
    position: relative;
    margin-top: 2%;
}


/*Mapa*/
.mapouter {
    position: relative;
    height: 450px;
    width: 450px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 450px;
    width: 450px;
}





/*Fin información*/

/* Plantas de interior */
#fotoPlantasInteriorCabecera {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Plantas/Interior/Cabera_Plantas_Interior_2.png);
    background-position: center;
}

.positionImage {
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 90%;
    margin: 60px;
    text-align: center;
    padding-top: 150px;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 5%;
}

.textoExplicativo {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    text-align: center;
    font-style: italic;
    color: #558976;
}

#plantaInterior1 {
    background-image: url(../Imagenes/Secundarias/Plantas/Interior/Planta_Interior_1_2.webp);
}

#plantaInterior2 {
    background-image: url(../Imagenes/Secundarias/Plantas/Interior/Planta_Interior_2_2.webp);
}

#plantaInterior3 {
    background-image: url(../Imagenes/Secundarias/Plantas/Interior/Planta_Interior_3.jpeg);
}

#plantaInterior4 {
    background-image: url(../Imagenes/Secundarias/Plantas/Interior/Planta_Interior_4.avif);
}

#plantaInterior5 {
    background-image: url(../Imagenes/Secundarias/Plantas/Interior/Planta_Interior_5.png);
}

#plantaInterior6 {
    background-image: url(../Imagenes/Secundarias/Plantas/Interior/Planta_Interior_6_2.webp);
}

table.tftable3 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: separate;
    border-spacing: 20px;
}

.tamanyoFotoPlanta {
    height: 300px;
}

td.tamanyoFotoPlanta {
    width: 30%;
    padding: 2%;
    background-size: cover;
    background-position:center;
}

.nombrePlanta {
    font-style: italic;
    font-size: large;
    color: #558976;
}

.verMas {
    font-style: italic;
    font-size: medium;
    color: #558976;
    text-decoration: underline;
}

#fotoAnuncioMaceta {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Plantas/Interior/macetas4.png);
}

.positionAnuncio {
    margin: 0px auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-size: cover;
    height: 200px;
    width: 80%;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
    color: rgb(255, 255, 255);
}

.positionAnuncio a{
    text-decoration: none;
}

/* Plantas Exterior */
#fotoPlantasExteriorCabecera{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Plantas/Exterior/Plantas_Exterior_Cabecera_3.jpeg);
}
#plantaExterior1 {
    background-image: url(../Imagenes/Secundarias/Plantas/Exterior/Planta_Exterior_1.webp);
}
#plantaExterior2 {
    background-image: url(../Imagenes/Secundarias/Plantas/Exterior/Planta_Exterior_2_3.jpeg);
}
#plantaExterior3 {
    background-image: url(../Imagenes/Secundarias/Plantas/Exterior/Planta_Exterior_3.jpeg);
}
#plantaExterior4 {
    background-image: url(../Imagenes/Secundarias/Plantas/Exterior/Planta_Exterior_4_3.jpeg);
}
#plantaExterior5 {
    background-image: url(../Imagenes/Secundarias/Plantas/Exterior/Plantas_Exterior_5.webp);
}
#plantaExterior6 {
    background-image: url(../Imagenes/Secundarias/Plantas/Exterior/Planta_Exterior_6.jpeg);
}
#fotoAnuncioAbono{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Plantas/Exterior/Anuncio_Abono_3.jpeg);
    background-position-y: bottom;

}


/* Cactus */
#fotoCactusCabecera{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Plantas/Cactus/Cactus_Cabecera_3.jpeg);
}
table.tftable4 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: separate;
    border-spacing: 20px;
}
.filaInfoCactus{
    height: 250px;
}
.tamanyoFotoCactus{
    width: 15%;
    padding: 2%;
    background-size: cover;
    background-position:center;
}
.tamanyoTextoCactus{
    width: 30%;
    padding: 2%;
}
.tablaCactus{
    margin-bottom:200px;
}
.tablaCactus hr{
    border-color: rgb(188 220 168 / 18%);
    margin-left: 5%;
    margin-right: 5%;
}
#Cactus_1{
    background-image: url(../Imagenes/Secundarias/Plantas/Cactus/Cactus_1.webp);
    background-position: top;
}
#Cactus_2{
    background-image: url(../Imagenes/Secundarias/Plantas/Cactus/Cactus_2.jpeg);
}
#Cactus_3{
    background-image: url(../Imagenes/Secundarias/Plantas/Cactus/Cactus_3_2.webp);
}
#Cactus_4{
    background-image: url(../Imagenes/Secundarias/Plantas/Cactus/Cactus_4.jpeg);
}



/*Propiedades modal formulario acceso*/
#accesoModal {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #558976;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.campoFormulario {
    font-size: 110%;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    border: none;
}

input#recordar {
    margin-right: 10px;
}

label.formRecordarme {
    color: #dff5ed;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-size: 110%;
    width: 100%;
    height: 40px;
    border-radius: 3px 3px 3px 3px;
    background-color: #dff5ed;
    margin-top: 10px;
}

#login button:hover {
    background-color: #b4baa4;
    color: #fff;
}

.formRecordarme {
    cursor: pointer;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #558976;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #082233;
}

/* PLANTAS INTERIOR Y EXTERIOR */

/* Cabecera información de plantas */
.cabeceraInfoPlantas{
    padding-bottom: 20px;
    margin: 20px 0px;
    background-color: rgb(188 220 168 / 18%)
}

.tamanyoFotoPlantaInfo{
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position:center;
    margin: 30px 0 10px 0;}

.cabeceraInfoPlantas>#plantaInterior1{
    border:5px solid #558976;
}

.cabeceraInfoPlantas h1{
    text-align: center;
    font-style:italic;
    font-size: 40px;
    color: #558976;
    padding-top: 10px;
}

.cabeceraInfoPlantas p{
    text-align: center;
    color: #558976;
    font-size: 18px;
    margin:10px 150px 0px;
    font-style: italic;
}

.positionFotoInfo{
    text-align: -webkit-center;
}

.apartadoInfoPlanta{
    margin-bottom: 30px;
}

/* Características planta */
.infoPlanta{
    margin-left: 10%;
    margin-right: 10%;
}

.infoPlanta h2{
    color:  #558976;

}

.infoPlanta hr{
    border-color: rgb(188 220 168 / 18%);
}

.infoPlanta ul{
    padding:0px 30px;
}

.infoPlanta li{
    color: rgba(133, 137, 133, 0.92);
    padding-bottom: 10px;
}
/* FIN PLANTAS INTERIOR Y EXTERIOR*/


/* MACETAS */
#fotoMacetasCabecera{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Accesorios/Macetas/macetas.webp);
}

#macetaBarro{
    background-image: url(../Imagenes/Secundarias/Accesorios/Macetas/macetaBarro.webp);
}

#macetaPlastico{
    background-image: url(../Imagenes/Secundarias/Accesorios/Macetas/macetaPlastico.jpeg);
}

#macetaCeramica{
    background-image: url(../Imagenes/Secundarias/Accesorios/Macetas/macetasCeramica.webp);
}

.textoMaceta{
    margin-top: 20px;
    text-align: center;
    color: #558976;
}
/* FIN MACETAS */



/* ABONOS */
#fotoAbonosCabecera{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Accesorios/Abonos/Abono_Cabecera.jpeg);
    background-position: center;
}

.tipoAbono{
    text-align: justify;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    border: 2px solid rgb(205, 201, 184, 0.861) ;
    border-radius: 10px;
    padding:20px;
}

.tituloAbono{
    text-align: center;
    color:#558976;
}

table.tftable5 {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}
.filaTipoAbono{
    height: 150px;
}
.tamanyoFotoAbono{
    width: 15%;
    padding: 2%;
    background-size: cover;
    background-position:center;
}
.tamanyoTextoAbono{
    width: 30%;
    padding: 2%;
    text-align: justify;
}
#Abono_Organico{
    background-image: url(../Imagenes/Secundarias/Accesorios/Abonos/Abono_Organico.png);
    background-position: top;
}
#Abono_Quimico{
    background-image: url(../Imagenes/Secundarias/Accesorios/Abonos/Abono_Quimico.png);
    background-position: bottom;
}
section.fraseFinalAbonos {
    text-align: center;
    color: #558976;
    padding:20px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    background-color: #dff5ed;
    opacity: .6;
}
#fotoAnuncioHerramientas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Accesorios/Abonos/Anuncio_Herramientas_5.webp);
    background-position: center;
}
.tamanyoTextoAbono li{
    text-indent: 3px;
    margin-left: 30px;
}
/* FIN ABONOS*/



/* HERRAMIENTAS*/
#fotoHerramientasCabecera{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Accesorios/Herramientas/zyro-image.png);
    background-position: center;
}

.textoExplicativo h1{
    font-size: 35px;
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    margin: 60px;
    justify-content: space-around;
}

table.tftable6 {
    border-spacing: 0 20px;
    width: 25%;
    border-collapse: separate;
}

table.tftable7 {
    border-spacing: 0 20px;
    width: 25%;
    border-collapse: separate;
}

.textoHerramienta{
        font-style: italic;
        font-size: medium;
        color: #558976;
}

div.linea-vertical{ 
    border-left: thin solid rgba(205, 201, 184, 0.633);
    height: 77em;
}

/* Hacer mas pequeña la primera casilla de la segunda columna */

.tamanyoFotoPlantaEscalera {
    height: 200px;
}

td.tamanyoFotoPlantaEscalera {
    width: 30%;
    padding: 2%;
    background-size: cover;
    background-position:center;
}

/* Fotos herramientas*/
#herramienta1 {
    background-image: url(../Imagenes/Secundarias/Accesorios/Herramientas/Guantes.webp);
}

#herramienta2 {
    background-image: url(../Imagenes/Secundarias/Accesorios/Herramientas/Rastrillo.jpeg);
    background-position: bottom;

}

#herramienta3 {
    background-image: url(../Imagenes/Secundarias/Accesorios/Herramientas/Tijera.jpeg);
}

#herramienta4 {
    background-image: url(../Imagenes/Secundarias/Accesorios/Herramientas/Azada_Horquilla.jpeg);
}

#herramienta5 {
    background-image: url(../Imagenes/Secundarias/Accesorios/Herramientas/Regadera.jpeg);

}

#herramienta6 {
    background-image: url(../Imagenes/Secundarias/Accesorios/Herramientas/Pala.jpeg);
}

/* Apartado curiosidades en Herramientas */
aside{
    width: 400px;
    color: rgba(205, 201, 184, 0.861);
    margin-top:20px;
}


aside h1{
    font-size: 25px;
    text-align: center;
}

aside iframe{
    margin:auto;
}

aside ol{
    margin-left: 20px;
    margin-top: 15px;
}

aside li{
    margin-bottom: 10px;
    background: rgba(214, 212, 201, 0.115);
    border-radius: 3px;
    margin-right: 15px;
    text-align: center;
    color: #558976;;
}

section.seccionFraseHerramientas {
    height: 300px;
    text-align: justify;
    font-style: italic;
    color: #558976;
}

#fotoAnuncioPlantasInterior{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Accesorios/Herramientas/Anuncio_Plantas_Interior.webp);
    background-position: center;

}

/* FIN HERRAMIENTAS */




/* RIEGO */
#fotoRiegoCabecera{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/Secundarias/Accesorios/Riego/Riego_Cabecera.jpeg);
    background-position: center;
}

table.tftable8 {
    width: 80%;
    border-collapse: separate;
    border-spacing: 20px;
    margin-left: 10%;
}

.tituloRiego{
    margin:0 10%;
}

.tituloRiego h1{
    background: rgba(230, 231, 225, 0.348);
    padding: 20px;
    border-radius: 10px;
    color: #558976;
    margin: 20px 0px;
}

.tamanyoTextoRiego{
    width: 30%;
    padding: 2% 2% 2% 0;
}

.tamanyoFotoRiego{
    width: 15%;
    padding: 2%;
    background-size: cover;
    background-position:center;
}

.tamanyoTextoRiego p{
   padding-left:0px;
}

/* Quitar flecha de summary */
.tiposRiego summary{
    list-style: none;
}

/* Fotos */
#aspersion {
    background-image: url(../Imagenes/Secundarias/Accesorios/Riego/Aspersion.jpeg);
    background-position: top;
}

#goteo{
    background-image: url(../Imagenes/Secundarias/Accesorios/Riego/Goteo_2.jpeg);
    background-position: center;
}

#subterraneo{
    background-image: url(../Imagenes/Secundarias/Accesorios/Riego/Subterraneo_2.jpeg);
    background-position: center;
}

#aMano{
    background-image: url(../Imagenes/Secundarias/Accesorios/Riego/Regadera.jpeg);
    background-position: center;
}

.seccionFrasePosicion{
    margin-top: 40em;
}

#positionFraseRiego {
    margin-top:3em;
    font-size: 50px;
    font-weight: bold;
}

.tamanyoTextoRiego li{
    text-indent: 3px;
    margin-left: 30px;
}

.tamanyoTextoRiego td{
    width: 30%;
}

.arrow {
    border: solid #558976;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    justify-content: space-around;
    float: right;
    margin-top:10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
  
/* FIN RIEGO */


/* ESTACIONES */

/* Slider estaciones */
.sliderEstaciones {
    background-image: url(../Imagenes/Secundarias/Estaciones/Verano_2.png);
    background-size: cover;
    animation: animateEstaciones 30s infinite;
}
.fa-sort-down{
    color:white;
}

@keyframes animateEstaciones {
    20% {
        background-image: url(../Imagenes/Secundarias/Estaciones/Invierno_2.jpg);
        background-size: cover;
    }

    40% {
        background-image: url(../Imagenes/Secundarias/Estaciones/Otoño_2.jpg);
        background-size: cover;
    }

    60% {
        background-image: url(../Imagenes/Secundarias/Estaciones/Primavera_2.png);
        background-size: cover;
    }
}
/* Finnslider estaciones */


#imagenPrimavera{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Estaciones/primavera.jpg);
    background-position: center;
}
#imagenVerano{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Estaciones/verano.jpg);
    background-position: center;
}
#imagenOtonio{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Estaciones/otoño.jpg);
    background-position: center;
}
#imagenInvierno{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../Imagenes/Secundarias/Estaciones/invierno.jpg);
    background-position: center;
}

.positionImagenesEstaciones {
    margin: 0px auto;
    background-size: cover;
    width: 80%;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
}

.posicionTextoImagenesEstaciones{
        margin: 0px auto;
        width: 80%;
        text-align: justify;
        padding: 1%;
        background-color: #f6f1eb;
}

.detalleEstacion {
    list-style: none;
    margin-top: 1%;
}

.oscurecerImagenes{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}



b{
    color: #385002;
}

.bordeImagenes{
    border: 5px inset #9dab39;
}
