/*propiedades generales*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #CDD985;
}
h2{
    color:#fff;
}

/*propiedades de la cabecera*/
header {
    background-color: #6c7439;
    width: 100%;
}

/*Fin propiedades de la cabecera*/

/*Propiedades del logo*/
img.logo {
    height: 120px;
    width: 163px;
    position: absolute;
    top: 39px;
    left: 10%;
}

/*Fin Propiedades del logo*/

/*propiedades del nav - menú*/
/*menu*/
.navegacion {
    width: 100%;
    padding-top: 124px;
    padding-left: 375px;
    background-color: #6c7439;
    font-size: 16px;
    text-transform: uppercase;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 45px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #b4baa4;
}

/*fin menu*/
/*submenu*/
.submenu {
    position: absolute;
    width: 120%;
    display: none;
    background-color: #6c7439;
    z-index: 2;
}

.submenu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

.menu li:hover .submenu {
    display: block;
}

/*fin submenu*/

/*submenusub*/
.submenusub {
    position: absolute;
    width: 100%;
    display: none;
    background-color: #6c7439;
}

.submenu li:hover .submenusub {
    display: block;
    right: -120px;
}

/*fin submenusub*/
/*configurar menu responsive*/
.checkbtn {
    font-size: 45px;
    color: #fff;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*fin configurar menu responsive*/
/*movil*/
@media (max-width:1390px) {
    .checkbtn {
        display: block;
        margin-top: -100px;
        margin-right: 20%;
    }

    ul {
        position: fixed;
        width: 100%;
        background: #6c7439;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
        z-index: 2;
    }

    .navegacion {
        padding-top: 172px;
        min-width: 490px;
    }

    .menu>li {
        display: block;
    }

    .menu li a {
        text-align: left;
        margin-left: 40%;
    }

    header nav ul li .submenu {
        position: relative;
    }

    .submenu {
        left: 0;
    }

    .submenu li a {
        text-align: left;
        margin-left: 40%;
    }

    header nav ul li .submenu .submenusub {
        position: relative;
    }

    .submenusub {
        left: 0;
    }

    .submenusub li a {
        text-align: left;
        margin-left: 45%;
    }
}

/*fin propiedades del nav - menú*/

/*Propiedades del slider*/
.position {
    position: relative;
    margin-top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    background-image: url(Imagenes/Slider/planta1.jpg);
    background-size: cover;
    
   
    height: 450px;
    width: 100%;
    animation: animate 30s infinite;
}

@keyframes animate {
    20% {
        background-image: url(Imagenes/Slider/planta2.jpg);
        background-size: cover;
    }

    40% {
        background-image: url(Imagenes/Slider/planta3.jpg);
        background-size: cover;
    }

    60% {
        background-image: url(Imagenes/Slider/planta4.jpg);
        background-size: cover;
    }
}

/*Fin Propiedades del slider*/
/*Propiedades de los cudrados con titulo*/
fieldset {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 90px;   
    border-color: #6c7439;
    /*padding-inline-start: 0.75em;*/
}

legend {
    font-size: 35px;
    color: #6c7439;     
    font-weight: bold; 
}

.cuadradosTablasPagPrin {
    border-style: solid;
    border-width: 25px;
    width: 760px;
    height: 350px;
    text-align: center;
    color: #CDD985; 
}
.quitoBordeAbajo{
    border-bottom: none;
}
.quitoBordeArriba{
    border-top: none;
}
/*Propiedades del apartado plantas página principal*/
#plantasPrincipal {
    margin-top: -130px;
}

#interior {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/PlantasInterior.jpg);
        background-size:cover;
        background-position:center;        
}

#exterior {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/PlantaExterior1.png);
        background-size:cover;
        background-position:center;   
       
}

.comentariosPagPrincipal {
    background-color: chocolate;
    width: 760px;
    height: 120px;
}

/*Fin del apartado accesorios página principal*/

/*Propiedades del apartado accesorios página principal*/

#macetas {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/macetas.jpg);
        background-size:cover;
        background-position:center;   
}

#abonos {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/Abonos.jpg);
        background-size:cover;
        background-position:center;   
}

#herramientas {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/Herramientas.jpg);
        background-size:cover;
        background-position:center;   
}

#riego {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/riego.jpg);
        background-size:cover;
        background-position:center;   
}

/*Fin del apartado accesorios página principal*/

/*Propiedades del apartado estaciones página principal*/
.cuadradosTablasPagPrinDos{
    border-style: solid;
    border-width: 25px;
    width: 1520px;
    height: 270px;
    text-align: center;
    color: #CDD985;
}

#primavera {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/primavera.jpg);
        background-size:cover;
        background-position:center;   
}

#verano {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/verano.jpg);
        background-size:cover;
        background-position:center;   
}

#otoño {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/otoño.jpg);
        background-size:cover;
        background-position:center;   
}

#invierno {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/invierno.jpg);
        background-size:cover;
        background-position:center;   
}

/*Fin del apartado estaciones página principal*/

/*propiedades del apartado curiosidades página principal*/

#cuantas {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/regarPlanta.jpg);
        background-size:cover;
        background-position:center;        
}

#transplantar {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/transplantar.jpg);
        background-size:cover;
        background-position:center;      
}
#cuidados {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/cuidadoCactus.jpg);
        background-size:cover;
        background-position:center;        
}

#consejos {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/cuidadosHuerto.jpg);
        background-size:cover;
        background-position:center;      
}

/*Fin del apartado curiosidades página principal*/

/*Pie*/
footer{
    background-color: #6c7439;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 50px;
}
footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}
footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .top .copy-details{
    color: #fff;
    font-size: 16px;

}
.content .top .media-icons{
    display: flex;
}
.content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;  
    transition: all 0.4s ease;  
}
/*propiedades de sigueme del pie de página*/
#siguenos{
    color: #fff;    
    font-size: 18px;   
    font-weight: bold; 
    text-decoration: none;     
    margin-bottom: 15px;
    margin-right: 115px;
}
/*propiedades de la ubicación del pie de página*/
#ubicacion{
    color: #fff;    
    font-size: 18px;   
    font-weight: bold; 
    text-decoration: none;     
    margin-bottom: 15px;
    margin-right: -60px;
}
#iconoUbicacion{
    margin: 0 8px;
    line-height: 40px;
    color: #fff;
    font-size: 17px; 
    transition: all 0.4s ease;  
}
/*instagram*/
.top .media-icons a:nth-child(1){
    background: #E1306C;
}
.top .media-icons a:nth-child(1):hover{
    color: #E1306C;
    background: #fff;
}
/*twitter*/
.top .media-icons a:nth-child(2){
    background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
}
/*facebook*/
.top .media-icons a:nth-child(3){
    background: #426782;
}
.top .media-icons a:nth-child(3):hover{
    color: #426782;
    background: #fff;
}
/*youtube*/
.top .media-icons a:nth-child(4){
    background: #FF0000;
}
.top .media-icons a:nth-child(4):hover{
    color: #FF0000;
    background: #fff;
}
/*Fin pie*/