/*propiedades generales*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #fff;
}

/*propiedades de la cabecera*/
header {
    background-color: #558976;
    width: 100%;
}

/*Fin propiedades de la cabecera*/

/*Propiedades del logo*/
img.logo {
    height: 130px;
    width: 160px;
    position: absolute;
    top: 28px;
    left: 6%;
}

/*Fin Propiedades del logo*/

/*propiedades del nav - menú*/
/*menu*/
.navegacion {
    width: 100%;
    padding-top: 124px;
    padding-left: 375px;
    background-color: #558976;
    font-size: 16px;
    text-transform: uppercase;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 45px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #b4baa4;
}

/*fin menu*/
/*submenu*/
.submenu {
    position: absolute;
    width: 120%;
    display: none;
    background-color: #558976;
    z-index: 2;
}

.submenu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

.menu li:hover .submenu {
    display: block;
}

/*fin submenu*/

/*submenusub*/
.submenusub {
    position: absolute;
    width: 100%;
    display: none;
    background-color: #558976;
}

.submenu li:hover .submenusub {
    display: block;
    right: -120px;
}

/*fin submenusub*/
/*configurar menu responsive*/
.checkbtn {
    font-size: 45px;
    color: #fff;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*fin configurar menu responsive*/
/*movil*/
@media (max-width:1390px) {
    .checkbtn {
        display: block;
        margin-top: -100px;
        margin-right: 20%;
    }

    ul {
        position: fixed;
        width: 100%;
        background: #558976;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
        z-index: 2;
    }

    .navegacion {
        padding-top: 172px;
        min-width: 490px;
    }

    .menu>li {
        display: block;
    }

    .menu li a {
        text-align: left;
        margin-left: 40%;
    }

    header nav ul li .submenu {
        position: relative;
    }

    .submenu {
        left: 0;
    }

    .submenu li a {
        text-align: left;
        margin-left: 40%;
    }

    header nav ul li .submenu .submenusub {
        position: relative;
    }

    .submenusub {
        left: 0;
    }

    .submenusub li a {
        text-align: left;
        margin-left: 45%;
    }
}

/*fin propiedades del nav - menú*/

/*Propiedades del slider*/
.position {
    position: relative;
    margin-top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    background-image: url(Imagenes/Slider/planta1.jpg);
    background-size: cover;


    height: 450px;
    width: 100%;
    animation: animate 30s infinite;
}

@keyframes animate {
    20% {
        background-image: url(Imagenes/Slider/planta2.jpg);
        background-size: cover;
    }

    40% {
        background-image: url(Imagenes/Slider/planta3.jpg);
        background-size: cover;
    }

    60% {
        background-image: url(Imagenes/Slider/planta4.jpg);
        background-size: cover;
    }
}

/*Fin Propiedades del slider*/

/*Propiedades Frase*/
section.seccionFrase {
    height: 300px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: justify;
    font-style: italic;
    color: #558976;
    ;
}

#positionFrase {
    position: relative;
    margin-top: -135px;
    font-size: 50px;
    font-weight: bold;
}

#autor {
    font-size: 20px;
    margin-top: 10px;
}

.quoteGrande {
    font-size: 100px;
}

/*Propiedades 3 cuadrados página principal con tabla*/
.tftable {
    color: #111;
    width: 90%;
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: separate;
    border-spacing: 10px;
}

.tftable td {
    width: 30%;
}

.tftable tr#subirLinea {
    margin-top: -20px;
}

.tftable td p {
    font-size: 15px;
}

.tamanyoColumna {
    height: 300px;
}

.tamanyoColumnaTitulo {
    height: 60px;
}

.tamanyoColumnaTexto {
    height: 100px;
    text-align: justify;
    padding: 20px;
}

#imagenUno {
    background-image: url(Imagenes/ImagenesPrincipales/elegir.jpg);
}

#imagenDos {
    background-image: url(Imagenes/ImagenesPrincipales/elegir.jpg);
}

#imagenTres {
    background-image: url(Imagenes/ImagenesPrincipales/elegir.jpg);
}

.textoTituloPlanta {
    text-align: center;
    color: #558976;

}

summary {
    font-weight: bold;
    color: #558976
}

/*Fin Propiedades 3 cuadrados página principal con tabla*/

/*Frase dos*/
section.seccionFrase2 {
    text-align: center;
    font-style: italic;
    color: #558976;
    height: 310px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    background-color: #dff5ed;
    font-size: 22px;
    opacity: .6;
}

p.alinear {
    margin-left: 20%;
    margin-right: 20%;
    line-height: 38px;
}

#iconoMano {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    opacity: .4;
}

/*Fin Frase dos*/

/*movil*/
@media (max-width:1600px) {    
    section.seccionFrase2 {
        font-size: 19px !important;
    }
    
    p.alinear {
        margin-left: 15% !important;
        margin-right: 15% !important;
        line-height: 25px !important;
    }
}
@media (max-width:1000px) {
    .frase {
        font-size: 30px !important;
    }

    .autorPequenyo {
        font-size: 15px !important;
    }

    .quotePequenya {
        font-size: 65px !important;
    }
}

@media (max-width:810px) {
    .frase {
        font-size: 25px !important;
    }

    .autorPequenyo {
        font-size: 10px !important;
    }

    .quotePequenya {
        font-size: 50px !important;
    }
    section.seccionFrase2 {
        font-size: 16px !important;
    }
    
    p.alinear {
        margin-left: 15% !important;
        margin-right: 15% !important;
        line-height: 18px !important;
    }
    
    #iconoMano {
        width: 80px !important;
        height: 80px  !important;
    }
}



/*Pie*/
footer {
    background-color: #558976;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: 50px;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .top .copy-details {
    color: #fff;
    font-size: 16px;

}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

/*propiedades de sigueme del pie de página*/
#siguenos {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 15px;
    margin-right: 115px;
}

/*propiedades de la ubicación del pie de página*/
#ubicacion {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 15px;
    margin-right: -60px;
}

#iconoUbicacion {
    margin: 0 8px;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    transition: all 0.4s ease;
}

/*instagram*/
.top .media-icons a:nth-child(1) {
    background: #E1306C;
}

.top .media-icons a:nth-child(1):hover {
    color: #E1306C;
    background: #fff;
}

/*twitter*/
.top .media-icons a:nth-child(2) {
    background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
}

/*facebook*/
.top .media-icons a:nth-child(3) {
    background: #426782;
}

.top .media-icons a:nth-child(3):hover {
    color: #426782;
    background: #fff;
}

/*youtube*/
.top .media-icons a:nth-child(4) {
    background: #FF0000;
}

.top .media-icons a:nth-child(4):hover {
    color: #FF0000;
    background: #fff;
}

/*Fin pie*/