/*propiedades generales*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*propiedades de la cabecera*/
header {
    background-color: #6c7439;
    width: 100%;
}

/*Fin propiedades de la cabecera*/

/*Propiedades del logo*/
img.logo {
    height: 120px;
    width: 163px;
    position: absolute;
    top: 39px;
    left: 10%;
}

/*Fin Propiedades del logo*/

/*propiedades del nav - menú*/
/*menu*/
.navegacion {
    width: 100%;
    padding-top: 124px;
    padding-left: 375px;
    background-color: #6c7439;
    font-size: 16px;
    text-transform: uppercase;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 45px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #b4baa4;
}

/*fin menu*/
/*submenu*/
.submenu {
    position: absolute;
    width: 120%;
    display: none;
    background-color: #6c7439;
    z-index: 2;
}

.submenu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

.menu li:hover .submenu {
    display: block;
}

/*fin submenu*/

/*submenusub*/
.submenusub {
    position: absolute;
    width: 100%;
    display: none;
    background-color: #6c7439;
}

.submenu li:hover .submenusub {
    display: block;
    right: -120px;
}

/*fin submenusub*/
/*configurar menu responsive*/
.checkbtn {
    font-size: 45px;
    color: #fff;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*fin configurar menu responsive*/
/*movil*/
@media (max-width:1390px) {
    .checkbtn {
        display: block;
        margin-top: -100px;
        margin-right: 10%;
    }

    ul {
        position: fixed;
        width: 100%;
        background: #6c7439;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
        z-index: 2;
    }

    .navegacion {
        padding-top: 172px;
        min-width: 490px;
    }

    .menu>li {
        display: block;
    }

    .menu li a {
        text-align: left;
        margin-left: 40%;
    }

    header nav ul li .submenu {
        position: relative;
    }

    .submenu {
        left: 0;
    }

    .submenu li a {
        text-align: left;
        margin-left: 40%;
    }

    header nav ul li .submenu .submenusub {
        position: relative;
    }

    .submenusub {
        left: 0;
    }

    .submenusub li a {
        text-align: left;
        margin-left: 45%;
    }
}

/*fin propiedades del nav - menú*/

/*Propiedades del slider*/
.position {
    position: relative;
    margin-top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    background-image: url(Imagenes/Slider/planta1.jpg);
    background-size: cover;
    height: 450px;
    width: 100%;
    animation: animate 30s infinite;
}

@keyframes animate {
    20% {
        background-image: url(Imagenes/Slider/planta2.jpg);
        background-size: cover;
    }

    40% {
        background-image: url(Imagenes/Slider/planta3.jpg);
        background-size: cover;
    }

    60% {
        background-image: url(Imagenes/Slider/planta4.jpg);
        background-size: cover;
    }
}

/*Fin Propiedades del slider*/

/*Propiedades del apartado plantas página principal*/
#plantasPrincipal {
    border-style: solid;
    border-color: black;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: -130px;
}

.interior {
    border-style: solid;
    border-color: black;
    width: 760px;
    height: 240px;
    margin-top: 20px;
    text-align: center;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/PlantasInterior.jpg);
    color: #fff;
}

.exterior {
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 760px;
    height: 240px;
    margin-top: -240px;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/PlantaExterior1.png);
    color: #fff;
}

#comentPlantasInterior {
    background-color: aqua;
    width: 760px;
    height: 240px;
}

#comentPlantasExterior {
    background-color: chocolate;
    width: 760px;
    height: 240px;
}
/*Fin del apartado accesorios página principal*/

/*Propiedades del apartado accesorios página principal*/
#accesoriosPrincipal{
    border-style: solid;
    border-color: black;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 90px;
}

.macetas {
    border-style: solid;
    border-color: black;
    width: 760px;
    height: 350px;
    margin-top: 20px;
    text-align: center;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/macetas.jpg);
    color: #fff;
}

.abonos {
    border-style: solid;
    border-color: black;
    width: 760px;
    margin-top: 20px;
    text-align: center;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/Abonos.jpg);
    color: #fff;
}

.herramientas {
    border-style: solid;
    border-color: black;
    height: 350px;
    margin-top: 20px;
    text-align: center;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/Herramientas.jpg);
    color: #fff;
}

.riego {
    border-style: solid;
    border-color: black;
    margin-top: 20px;
    text-align: center;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(Imagenes/ImagenesPrincipales/riego.jpg);
    color: #fff;
}

/*Fin del apartado accesorios página principal*/